body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    
}
p {
    font-size: 15px;
    font-weight: 400;
}

h5 {
    padding: 5% 5% 0;
    font-weight: 700;
}

.card {
    margin: 10% auto;
    border-radius: 20px;
    /* border: 1px solid purple; */
    border: none;
    
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    width: 280px;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;
    /* border: 1px solid red; */
    border: none;
}

.card-text {
    padding: 5%;
    color: hsl(220, 15%, 55%);
}
